@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #2C3A69;
}

/* -------Navbar------ */
.navbar-1{
    background-color: #576696;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1450px;
    margin: 0 auto;
    background-color: #576696;
}

.nav_link{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

}

.nav_link li {
    margin: 0 15px;
}

.nav_link li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
}

.nav_link li a:hover{
    color: #8bc1ff;
    transition: all 0.3s ease;
}

.logo img{
    width: 80px;
    height: 80px;
}

.btn-register a{
    background-color: #FFFFFF;
    color: #576696;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.btn-register a:hover{
    background-color: #8bc1ff;
    color: #fff;
}

.btn-register a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


/* -------End Navbar-------- */

/* ------- Sponsor -------- */
.container{
    padding-top: 130px;
}
h2{
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 64px;
}

.sub-judul{
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 32px;
}

.slick-slide{
    margin: 0 20px;
}
.slick-slide img{
    width: 100%;
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-slide img{
    display: block;
}
.slick-initialized .slick-slide{
    display: block;
}

@media only screen and (max-width: 1000px) {
    .container{
        padding-top: 100px;
    }

    h2{
        color: #fff;
        text-align: center;
        padding: 10px;
        font-size: 54px;
    }

    .sub-judul{
        color: #fff;
        text-align: center;
        padding: 5px;
        font-size: 27px;
    }
}

@media only screen and (max-width: 600px) {
    .container{
        padding-top: 50px;
    }

    .slick-slide img{
        width: 100%;
    }

    h2{
        color: #fff;
        text-align: center;
        padding: 10px;
        font-size: 44px;
    }

    .sub-judul{
        color: #fff;
        text-align: center;
        padding: 5px;
        font-size: 22px;
    }
}

@media only screen and (max-width: 500px) {
    .slick-slide img{
        width: 120px;
    }
}

@media only screen and (max-width: 400px) {
    .container{
        padding-top: 30px;
    }

    .slick-slide img{
        width: 120px;
    }
}