@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'KoHo', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-color: #1B2031;
}
/* header */
li, a, button {
    font-weight: 600;
    font-size: 1.125rem;
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15%;
    z-index: 1000;
    background-color: #1B2031;
}

.cta-regis{
    display: flex;
    justify-content: center;
}

.cta-regis button{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 25px;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #fff;
    transition: all 0.3s ease 0s;
} 

.cta-regis button:hover{
    color: #fff;
    background-color: #539ac6;
    box-shadow: 0px 15px 20px rgba(64, 153, 224, 0.2);
    border: 1px solid #539ac6;
}

.logo {
    cursor: pointer;
    width: 80px;
    height: 80px;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.register-mobile{
    list-style: none;
    display: none;
}

.register-dekstop{
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_links{
    list-style: none;
}

.hover-underline-animation{
    display: inline-block;
    position: relative;
  }

  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #539ac6;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    font-weight: 700;
}

.nav_links li a:hover {
    color: #539ac6;
}


/* Hamburger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 25px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 40px;
    opacity: 0;
    top: -5px;
    cursor: pointer;
    z-index: 1;
}

.menu-toggle span{
    display: block;
    width: 40px;
    height: 3px;
    background-color: #539ac6;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger menu Animations */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: white;
    transform: rotate(45deg) translate(-3px, -3px);
}

.menu-toggle input:checked ~ span:nth-child(4){
    background-color: white;
    transform: rotate(-45deg) translate(-2px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}





/* Mobile */

/* Ukuran Tablet */
@media screen and (max-width: 768px) {
    nav ul{
        width: 50%;
    }
}

/* Ukuran mobile */
@media screen and (max-width: 576px){
    .menu-toggle{
        display: flex;
        
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 50px;
        width: 64%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: #1B2031;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    .cta button{
        padding: 2px;
    }

    nav ul.slide{
        transform: translateX(0);
        opacity: 1;
    }

    .register-mobile{
        display: initial;
    }
    
    .register-dekstop{
        display: none;
    }
}


/*  */


/* intro */
.main-page{
    margin: 0;
    padding: 90px 0;
    background-image: url(/img/bg-home.png);
    background-size: cover;
    background-position: center;
}

.text-intro{
    color: #fff;
    float: right;
    font-size: 4.9375rem;
    text-align: center;
    font-weight: bold;
    margin: 6.3rem 5.1rem;
    text-shadow:
    4px  4px 0 #c2c3ca,
   -2px -2px 0 #000,  
    2px -2px 0 #000,
   -4px  4px 0 #000,
    2px  2px 0 #000;
}

.img-intro{
    margin: 0 0 0 5.1rem;
}

.gambar-intro{
    width: 503px;
    height: 494px;
} 

@media only screen and (max-width: 1350px) {
    .text-intro{
        color: #fff;
        float: right;
        font-size: 4.9375rem;
        text-align: center;
        font-weight: bold;
        margin: 6.3rem 4rem;
        text-shadow:
        4px  4px 0 #c2c3ca,
       -2px -2px 0 #000,  
        2px -2px 0 #000,
       -4px  4px 0 #000,
        2px  2px 0 #000;
    }

    .img-intro{
        margin: 0 0 0 4rem;
    }
}

@media only screen and (max-width: 1300px) {
    .text-intro{
        color: #fff;
        float: right;
        font-size: 4.2375rem;
        text-align: center;
        font-weight: bold;
        margin: 5rem 5rem;
        text-shadow:
        4px  4px 0 #c2c3ca,
       -2px -2px 0 #000,  
        2px -2px 0 #000,
       -4px  4px 0 #000,
        2px  2px 0 #000;
    }

    .img-intro{
        margin: 0 0 0 5rem;
    }

    .gambar-intro{
        width: 418px;
        height: 405px;
    }
}

@media only screen and (max-width: 1175px) {
    .text-intro{
        color: #fff;
        float: right;
        font-size: 4.2375rem;
        text-align: center;
        font-weight: bold;
        margin: 5rem 3rem;
        text-shadow:
        4px  4px 0 #c2c3ca,
       -2px -2px 0 #000,  
        2px -2px 0 #000,
       -4px  4px 0 #000,
        2px  2px 0 #000;
    }

    .img-intro{
        margin: 0 0 0 3rem;
    }

    .gambar-intro{
        width: 418px;
        height: 405px;
    }
}

@media only screen and (max-width: 1085px) {
    .text-intro{
        color: #fff;
        float: right;
        font-size: 4.0375rem;
        text-align: center;
        font-weight: bold;
        margin: 4.3rem 2.5rem;
        text-shadow:
        4px  4px 0 #c2c3ca,
       -2px -2px 0 #000,  
        2px -2px 0 #000,
       -4px  4px 0 #000,
        2px  2px 0 #000;
    }

    .gambar-intro{
        width: 388px;
        height: 385px;
    }

    .img-intro{
        margin: 0 0 0 2.5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .text-intro{
        font-size: 3.2375rem;
        margin: 3.5rem 2.5rem;
    }

    .gambar-intro{
        width: 364px;
        height: 323px;
    }
}

@media only screen and (max-width: 900px) {
    .text-intro{
        margin: 3.5rem 2rem;
    }

    .img-intro{
        margin: 0 0 0 2rem;
    }
}

@media only screen and (max-width: 855px) {
    .text-intro{
        font-size: 3.0375rem;
        margin: 2rem 1.8rem;
    }

    .gambar-intro{
        width: 305px;
        height: 262px;
    }

    .img-intro{
        margin: 0 0 0 1.8rem;
    }
}

@media only screen and (max-width: 768px) {
    .text-intro{
        font-size: 2.6375rem;
        margin: 2rem 1.8rem;
    }

    .gambar-intro{
        width: 282px;
        height: 232px;
    }

    .img-intro{
        margin: 0 0 0 1.8rem;
    }
}   

@media only screen and (max-width: 700px) {
    .main-page{
        margin: 20px 0;
        padding: 70px 0;
        background-image: url(/img/bg-home.png);
        background-size: cover;
        background-position: center;
    }

    .text-intro{
        color: #fff;
        float: none;
        font-size: 2.6375rem;
        text-align: center;
        font-weight: bold;
        margin: 2rem auto;
        text-shadow:
        4px  4px 0 #c2c3ca,
       -2px -2px 0 #000,  
        2px -2px 0 #000,
       -4px  4px 0 #000,
        2px  2px 0 #000;
    }

    .img-intro{
        margin: 0 auto;
        text-align: center;
    }

    .gambar-intro{
        width: 282px;
        height: 232px;
    }
}

@media only screen and (max-width: 400px) {
    .text-intro{
        font-size: 2.0375rem;
        margin: 2rem auto;
    }

    .gambar-intro{
        width: 242px;
        height: 222px;
    }
}

/*  */

/* TENTANG */
.about{
    text-align: center;
    background: #1b2031;
    background-image: url(/img/Vector.svg);
    width: 100%;
    background-size: cover;
    padding: 7rem 0;
    margin: 0;
}

.tittle-about{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

.img-about{
    width: 352px;
    height: 346px;
    margin: 0 auto;
}

.desc-about{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    padding: 0 13rem;
}

@media only screen and (max-width: 1300px) {
    .desc-about{
        padding: 0 11rem;
    }
}

@media only screen and (max-width: 1175px) {
    .tittle-about{
        font-size: 45px;
        font-weight: 600;
        color: #fff;
    }

    .about{
        background-image: none;
    }
    .desc-about{
        padding: 0 6rem;
    }
}

@media only screen and (max-width: 1000px) {
    .tittle-about{
        font-size: 40px;
        font-weight: 600;
        color: #fff;
    }

    .desc-about{
        font-size: 18px;
        padding: 0 3rem;
    }

    .img-about{
        width: 262px;
        height: 246px;
        margin: 1rem auto;
    }
}

@media only screen and (max-width: 600px) {
    .tittle-about{
        font-size: 40px;
        font-weight: 600;
        color: #fff;
    }
}

/*  */

/* DAFTAR */
.daftar{
    text-align: center;
    background-image: url(/img/bg-daftar.png);
    background-size: cover;
    padding: 7rem 0;
    color: #fff;
}

.tittle-daftar{
    font-size: 85px;
}

.sub-daftar{
    font-size: 50px;
    padding-top: 79px;
}

.text-daftar{
    font-size: 20px;
    padding: 0 18.5rem;
    padding-top: 22px;
}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 84px;
}

.btn-register{
    width: 280px;
    height: 60px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
}

.btn-register:hover{
    background-color: #539ac6;
    box-shadow: 0px 15px 20px rgba(64, 153, 224, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.btn-guide{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 60px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn-guide img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.btn-guide:hover{
    background-color: #539ac6;
    box-shadow: 0px 15px 20px rgba(64, 153, 224, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.icon-daftar{
    width: 200px;
    height: 62px;
    margin-top: 134px;
}

@media only screen and (max-width: 1300px) {
    .tittle-daftar{
        font-size: 60px;
    }

    .sub-daftar{
        font-size: 45px;
        padding-top: 50px;
    }

    .text-daftar{
        font-size: 20px;
        padding: 0 8.5rem;
        padding-top: 22px;
    }

    .btn{
        margin-top: 64px;
    }

    .icon-daftar{
        width: 150px;
        height: auto;
        margin-top: 84px;
    }
}

@media only screen and (max-width: 900px) {
    .tittle-daftar{
        font-size: 50px;
    }

    .sub-daftar{
        font-size: 35px;
        padding-top: 40px;
    }

    .text-daftar{
        font-size: 16px;
        padding: 0 8.5rem;
        padding-top: 12px;
    }
}

@media only screen and (max-width: 750px) {
    .tittle-daftar{
        font-size: 40px;
    }

    .sub-daftar{
        font-size: 25px;
        padding-top: 25px;
    }

    .text-daftar{
        font-size: 16px;
        padding: 0 4.5rem;
        padding-top: 12px;
    }
}

@media only screen and (max-width: 425px) {
    .tittle-daftar{
        font-size: 28px;
    }

    .sub-daftar{
        font-size: 20px;
        padding-top: 25px;
    }

    .text-daftar{
        font-size: 14px;
        padding: 0 2.5rem;
        padding-top: 12px;
    }
    .btn-register{
        width: 170px;
    }
    .btn-guide{
        width: 170px;
    }
}
/*  */

/* daftar */

.event{
    padding-top: 10rem;
    margin: 0.5rem 0;
    background-image: url(../img/bg-event.jpg);
}

.tittle-event{
    font-size: 85px;
    text-align: center;
    color: #fff;
}

.content-event{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    text-align: center;
}

.content1{
    padding-right: 50px;
    margin: 0 0 0 159px;
}

.content2{
    padding-left: 50px;
    margin: 0 159px 0 0;
}

.tittle-content{
    font-size: 30px;
    text-align: center;
    color: #fff;
}

.img-content{
    margin-top: 27px;
    width: 449px;
    height: 216px;
}

.text-content{
    font-size: 20px;
    margin-top: 31px;
    text-align: left;
    color: #fff;
}

@media only screen and (max-width: 1150px) {
    .tittle-content{
        font-size: 25px;
        text-align: center;
        color: #fff;
    }

    .img-content{
        margin-top: 27px;
        width: 409px;
        height: 196px;
    }
}

@media only screen and (max-width: 1000px) {
    .tittle-event{
        font-size: 55px;
        text-align: center;
        color: #fff;
    }
    
    .tittle-content{
        font-size: 23px;
        text-align: center;
        color: #fff;
    }

    .img-content{
        margin-top: 27px;
        width: 279px;
        height: 156px;
    }

    .text-content{
        font-size: 18px;
        margin-top: 31px;
        text-align: left;
        color: #fff;
    }
}

@media only screen and (max-width: 800px) {
    .tittle-event{
        font-size: 48px;
        text-align: center;
        color: #fff;
    }
    
    .tittle-content{
        font-size: 20px;
        text-align: center;
        color: #fff;
    }

    .img-content{
        margin-top: 27px;
        width: 269px;
        height: 156px;
    }

    .text-content{
        font-size: 18px;
        margin-top: 31px;
        text-align: left;
        color: #fff;
    }
}

@media only screen and (max-width: 650px) {
    .tittle-event{
        font-size: 58px;
        text-align: center;
        color: #fff;
    }

    .img-content{
        margin-top: 10px;
    }
    
    .tittle-content{
        font-size: 30px;
        text-align: center;
        color: #fff;
    }

    .text-content{
        font-size: 16px;
        text-align: center;
        color: #fff;
        margin: 31px 2rem 0 2rem;
    } 

    .content-event{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2rem 0;
        text-align: center;
    }

    .content1{
        padding: 0;
        margin: 0 auto;
    }
    
    .content2{
        padding: 0;
        margin: 2rem auto;
    }

    .garis-content{
        display: none;
    }
}
.garis-content{
    border-left: 5px #fff solid;
    height: 370px;
    width: 0px;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.active.fade-bottom {
    animation: fade-bottom 0.6s ease-in;
}

.active.fade-left {
    animation: fade-left 0.6s ease-in;
}

.active.fade-right {
    animation: fade-right 0.6s ease-in;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/*  */

/* Sponsor */
.container{
    padding-top: 150px;
}
h2{
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 64px;
}

.sub-judul{
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 32px;
}

.slick-slide{
    margin: 0 20px;
}
.slick-slide img{
    width: 100%;
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-slide img{
    display: block;
}
.slick-initialized .slick-slide{
    display: block;
}

@media only screen and (max-width: 1000px) {
    .container{
        padding-top: 100px;
    }

    h2{
        color: #fff;
        text-align: center;
        padding: 10px;
        font-size: 54px;
    }

    .sub-judul{
        color: #fff;
        text-align: center;
        padding: 5px;
        font-size: 27px;
    }
}

@media only screen and (max-width: 600px) {
    .container{
        padding-top: 50px;
    }

    .slick-slide img{
        width: 100%;
    }

    h2{
        color: #fff;
        text-align: center;
        padding: 10px;
        font-size: 44px;
    }

    .sub-judul{
        color: #fff;
        text-align: center;
        padding: 5px;
        font-size: 22px;
    }
}

@media only screen and (max-width: 500px) {
    .slick-slide img{
        width: 120px;
    }
}

@media only screen and (max-width: 400px) {
    .container{
        padding-top: 30px;
    }

    .slick-slide img{
        width: 120px;
    }
}
/*  */

/* footer */

footer {
    bottom: 0;
}

@media (max-height: 800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #000000;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}


/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    margin: 0;
}

.footer-distributed h3 span {
    color: #ffffff;
}


/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
}

.footer-distributed .footer-company-name {
    color: #d3d3d3;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}


/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
    padding: 0 2rem;
}

.footer-distributed .footer-lokasi {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-lokasi .tittle-kontak {
    display: block;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.6rem;
}

.footer-distributed .footer-center i {
    text-align: center;
    line-height: 42px;
    margin: 0;
    vertical-align: middle;
}

.footer-distributed .footer-center i.email {
    font-size: 17px;
    line-height: 38px;
    /* margin-left: -3px; */
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 18px;
    line-height: 2;
    font-weight: bold;
}

.footer-distributed .footer-center p a {
    color: #ffffff;
    text-decoration: none;
}


/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a i img {
    width: 2.5em;
    height: auto;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

/* .footer-distributed .footer-icons a:hover {
    background-color: #8f9296;
} */

.footer-links a:hover {
    color: #8f9296;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

/*  */
