*{
    margin: 0;
    padding: 0;
}

body{
    background-color: cadetblue;
}

.event{
    margin: 10rem 0;
}

.tittle-event{
    font-size: 85px;
    text-align: center;
    color: #fff;
}

.content-event{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    text-align: center;
}

.content1{
    padding-right: 50px;
    margin: 0 0 0 159px;
}

.content2{
    padding-left: 50px;
    margin: 0 159px 0 0;
}

.tittle-content{
    font-size: 30px;
    text-align: center;
    color: #fff;
}

.img-content{
    margin-top: 27px;
}

.text-content{
    font-size: 20px;
    margin-top: 31px;
    text-align: left;
    color: #fff;
    
}

/* .garis-content{
    width: 20px;
    height: 410px;
    background-color: #ff0000;
} */