@font-face {
    font-family: 'ESL Legend';
    src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.eot);
    src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.eot#iefix) format("embedded-opentype"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.woff2) format("woff2"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.woff) format("woff"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.ttf) format("truetype"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.svg#eicon) format("svg");
    font-style: normal;
    font-weight: 300;
  }
  @font-face {
    font-family: 'ESL Legend';
    src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.eot);
    src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.eot#iefix) format("embedded-opentype"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.woff2) format("woff2"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.woff) format("woff"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.ttf) format("truetype"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.svg#eicon) format("svg");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'ESL Legend';
    src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.eot);
    src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.eot#iefix) format("embedded-opentype"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.woff2) format("woff2"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.woff) format("woff"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.ttf) format("truetype"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.svg#eicon) format("svg");
    font-style: normal;
    font-weight: bold;
  }

@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'KoHo', sans-serif;
}

body{
    background-color: #1B2031;
}
/* header */
li, a, button {
    font-weight: 600;
    font-size: 1.125rem;
    color: #fff;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    z-index: 1000;
}

.logo {
    cursor: pointer;
    width: 80px;
    height: 80px;
}

.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    font-weight: 700;
}

.nav_links li a:hover {
    color: #133EFA;
}

.cta button{
    padding: 9px 25px;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #fff;
    transition: all 0.3s ease 0s;
}   

.cta img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    padding-top: 4px;
}

.cta button:hover{
    color: #fff;
    background: #182148;
    border: 1px solid #182148;
}


/* intro */
    .main-page{
        margin: 20px 0;
        padding: 70px 0;
        background-image: url(img/bg-home.png);
        background-size: cover;
        background-position: center;
    }

    .text-intro{
        color: #fff;
        float: right;
        font-size: 5.9375rem;
        text-align: center;
        font-weight: bold;
        margin: 6.3rem 4rem;
        text-shadow:
        4px  4px 0 #c2c3ca,
       -2px -2px 0 #000,  
        2px -2px 0 #000,
       -4px  4px 0 #000,
        2px  2px 0 #000;
    }

    .img-intro{
        margin: 0 0 0 4rem;
    }

/*  */

/* TENTANG */
.about{
    text-align: center;
    background: #1b2031;
    padding: 7rem 0;
}

.tittle-about{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

.img-about{
    width: 352px;
    height: 346px;
    margin: 0 auto;
}

.desc-about{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    padding: 0 21rem;
}

/*  */

/* DAFTAR */
.daftar{
    text-align: center;
    background-image: url(img/bg-daftar.png);
    background-size: cover;
    padding: 7rem 0;
    color: #fff;
}

.tittle-daftar{
    font-size: 85px;
}

.sub-daftar{
    font-size: 50px;
    padding-top: 79px;
}

.text-daftar{
    font-size: 20px;
    padding: 0 18.5rem;
    padding-top: 22px;
}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 84px;

}

.btn-register{
    border-radius: 5%;
    border: 1px solid #fff;
    padding: 20px 30px  ;
    background-color: transparent;
    margin-right: 4rem;
    color: #fff;
}

.btn-register:hover{
    background-color: #fff;
    color: #1b2031;
}

.btn-guide{
    border-radius: 5%;
    border: 1px solid #fff;
    padding: 20px 30px;
    background-color: transparent;
    margin-left: 4rem;
    color: #fff;
}

.btn-guide:hover{
    background-color: #fff;
    color: #1b2031;
}

.icon-daftar{
    width: 200px;
    height: 62px;
    margin-top: 134px;
}
/*  */

/* kompetisi */
.kompetesi h2{
    font-size: 64px;
    margin-bottom: 8rem;
}

.row:after {
    content: "";
    display: table;
    clear: both
  }

.column-66 {
    float: left;
    width: 66%;
    padding: 20px;
    padding: 1rem 5rem 5rem 20rem;
  }
  
  .img-66 {
    margin-top: 6rem;
    width: 100%;
    height: auto;
  }

  .column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
  }

  .column-33 img {
    width: 150%;
    height: 356px;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
  }

  .large-font {
    font-size: 22px;
    margin-bottom: 30px;
  }
  
  .xlarge-font {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  
  .btn-daftar {
    display: flex;
    align-items: center;
    color: #222222;
    padding: 10px 5px;
    font-size: 20px;
    cursor: pointer;
  }

  .btn-daftar img{
    margin-left: 3rem;
  }

  /* timeline */
  
  /*  */

/* footer */

footer {
    bottom: 0;
}

@media (max-height: 800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #000000;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}


/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 26px "Cookie", cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #ffffff;
}


/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
}

.footer-distributed .footer-company-name {
    color: #d3d3d3;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}


/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
    padding: 0 2rem;
}

.footer-distributed .footer-lokasi {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-lokasi .tittle-kontak {
    display: block;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.6rem;
}

.footer-distributed .footer-center i {
    text-align: center;
    line-height: 42px;
    margin: 0;
    vertical-align: middle;
}

.footer-distributed .footer-center i.email {
    font-size: 17px;
    line-height: 38px;
    /* margin-left: -3px; */
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 18px;
    line-height: 2;
    font-weight: bold;
}

.footer-distributed .footer-center p a {
    color: #ffffff;
    text-decoration: none;
}


/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a i img {
    width: 2.5em;
    height: auto;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

/* .footer-distributed .footer-icons a:hover {
    background-color: #8f9296;
} */

.footer-links a:hover {
    color: #8f9296;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

/*  */
